<div class="loginContainer" nz-row nzType="flex" nzJustify="center">
  <form nz-form [formGroup]="loginForm" class="login-form" (ngSubmit)="onSubmit()">
    <div class="setting">
      <i18n-selector></i18n-selector>
    </div>
    <div>
      <h1 class="title"><strong>{{"i18n_appName" | i18n}}</strong></h1>
    </div>
    <nz-form-item >
      <nz-form-control [nzErrorTip]="emailErrorTpl">
        <nz-input-group nzPrefixIcon='mail'>
          <input type='text' nz-input formControlName="email" placeholder="Email" [(ngModel)]='emailValue' />
        </nz-input-group>
        <ng-template #emailErrorTpl let-control>
          <ng-container *ngIf="control.hasError('required')">
            {{"i18n_valid.required" | i18n}}
          </ng-container>
          <ng-container *ngIf="control.hasError('email')">
            {{'i18n_valid.email' | i18n}}
          </ng-container>
        </ng-template>
      </nz-form-control>
    </nz-form-item>

    <nz-form-item nz-row>
      <nz-form-control>
        <button nz-button class="login-form-button" [nzType]="'primary'">{{"i18n_btn.login" | i18n}}</button>
      </nz-form-control>
    </nz-form-item>
  </form>
</div>